/* dm-serif-display-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/dm-serif-display-v12-latin-regular.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url("./fonts/dm-serif-display-v12-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Karla";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/karla-v24-latin-regular.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url("./fonts/karla-v24-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/karla-v24-latin-700.woff2") format("woff2"), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url("./fonts/karla-v24-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla" , "DM Serif Display", "Arial" , sans-serif;
}

.site-header {
    width: 100%;
    height: 80px;
    background-color: #fff;
}

.container {
    width: 1110px;
    margin: 0 auto;
    padding: 0;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 21px 0;
}

.site-nav {
    display: flex;
    gap: 33px;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;
}

.nav-list-item {
    font-family: "Karla";
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.5px;
    color: #837D88; 
}

.btn-header {
    padding: 13px 29px 12px;
    font-family: "Karla";
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #2C2830;
    background: #FFFFFF;
    border: 1.5px solid #2C2830;
}

.nav-list-item:hover {
    color: #2C2830;
    cursor: default;
}

.btn-header:hover {
    background: #2C2830;
    border: 1.5px solid #2C2830;
    color: #fff;
}

/* Header end */
/* Hero section start */

.site-hero {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #2D2641;
    background-image: url(./images/bg-1.svg);
    background-repeat: no-repeat;
    background-size: 697px;
    background-position-x: calc(50% + 625px);
    background-position-y: -130px ;
    z-index: ;
    
}

/* .site-hero::after {
    display: block;
    height: 643px;
    height: 649px;
    background-image: url(./images/bg-2.svg);
    background-size: 697px 649px;
    background-repeat: no-repeat;
    background-position-x: calc(-15% + -70px);
    background-position-y:calc (250%) ;
    content: url("");
} */

.inner-hero {
    width: 540px;
    align-items: center;
}

.hero-wrapper {
    display: flex;
    gap: 30px;
    padding-top: 105px;
}

.hero-top-divider {
    display: block;
    width: 150px;
    height: 1px;
    background-color: #fff;
}

.hero-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 72px;
    line-height: 64px;    
    letter-spacing: -1px;
    color: #FFFFFF;
    padding-top: 63px;
}

.hero-desc {
    font-family: "Karla";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 35px;
    margin-bottom: 35px;
}

.btn-hero {
    padding: 13px 29px 12px;
    font-family: "Karla";
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: #FFF;
    background: #2D2641;
    border: 1.5px solid #fff;
}

.btn-hero:hover {
    background: #FFFFFF;
    border: 1.5px solid #FFFFFF;
    color: #2C2830;
}

.hero-img {
    position: relative;
    
}

.bg-2 {
    position: absolute;
    display: block;
    width: 649px;
    height: 649px;
    display: block;
    background-image: url(./images/bg-2.svg);
    background-size: 697px 649px;
    background-repeat: no-repeat;
    background-position-x: calc(-15% + -200px);
    background-position-y: calc(50% + -190px);
    
}


/*  Article section start */

.article-section {
    padding-top: 305px;
    padding-bottom: 158px;
}

.second-divider {
    background-color: #C396C6;
}

.article-title {
    padding-top: 63px;
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 64px;
    letter-spacing: -1px;
    color: #2C2830;
}

.article-list {
    display: flex;
    gap: 30px;
    margin-top: 96px;
    list-style: none;
}

.article-list-item {
    width: 350px;
}

.list-item-title {
    padding-bottom: 16px;
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.388889px;
    color: #2C2830;
    
}

.list-item-desc {
    font-family: "Karla";
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #837D88;
    
}

.list-1::before {
    display: block;
    padding-bottom: 32px;
    width: 86px;
    height: 86px;
    content: url();
    background-image: url(./images/thunder.png);
    background-repeat: no-repeat;
    background-size: 86px 86px;
}

.list-2::before {
    display: block;
    padding-bottom: 32px;
    width: 86px;
    height: 86px;
    content: url();
    background-image: url(./images/dollar.png);
    background-repeat: no-repeat;
    background-size: 86px 86px;
}

.list-3::before {
    display: block;
    padding-bottom: 32px;
    width: 86px;
    height: 86px;
    content: url();
    background-image: url(./images/user.png);
    background-repeat: no-repeat;
    background-size: 86px 86px;
}


/* Article section end */
/* Aside section start */



.aside-wrapper {
    background-image: url(./images/bg-3.png);
    
}

.aside-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 69px 80px;
}

.aside-title {
    font-family: "DM Serif Display";
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.777778px;
    color: #FFFFFF;
    
}

.aside-link {
    width: 160px;
    height: 40px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: "Karla";
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #FFF;
    border: 1.5px solid #FFFFFF;
    
}

.aside-link:hover {
    color: #2C2830;
    background: #FFFFFF;
    border: 1.5px solid #FFFFFF;
}

/* Main section end */

/* Footer start */

footer {
    margin-top: 150px;
    height: 393px;
    background-image: url(./images/footer-bg.png);
    background-size: 100% 393px;
    background-repeat: no-repeat;
    
}

.primary-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 67px;
    padding-bottom: 36px;
    border-bottom: 1px solid #DADADA;
    
}

.social-network-list {
    display: flex;
    gap: 16px;
    list-style: none;
}

.social-network-icon:hover {
    color: #2C2830;
}

.final-footer {
    display: flex;
    gap: 30px;
}

.final-footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.final-primary-link {
    padding-top: 48px;
   
}

.primary-links {
    font-family: "Karla";
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.5px;
    color: #837D88;
    text-decoration: none;
}

.final-footer-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.final-footer-item {
    width: 255px;
}


.final-footer-link {
    font-family: "Karla";
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.5px;
    color: #2D2641;
    text-decoration: none;
}

.final-footer-link:hover {
    text-decoration: underline;
}






